.admin-nav {
    padding: 0;
}

.admin-subtitle {
    margin-bottom: 0;
    position: relative;
}

.admin-tab {
    list-style: none;
    display: inline-block;
    width: calc(50% - 2px);
}

.btn-tab {
    width: 100%;
}

.view-admin {
    margin-top: 9rem;
}

.stock-list {
    font-size: 1.8rem;
    list-style: none;
    margin-top: 0;
}

.stock-list label {
    box-sizing: border-box;
    display: block;
    padding: 2rem;
    float: left;
    width: 60%;
    height: 6.4rem;
}

#restockList label {
    box-sizing: border-box;
    display: block;
    padding: 2rem;
    width: 60%;
    height: 6.4rem;
    float: left;
}

#restockList input {
    box-sizing: border-box;
    display: block;
    padding: 2rem;
    width: 40%;
    height: 6.4rem;
    float: left;
}

.number-field {
    color: white;
    padding: 2rem;
    border: none;
    outline: none;
    font-size: 2.1rem;
    background-color: #324c4f;
    transition: background-color, 0.5s, ease-in-out;
    text-align: center;
    box-sizing: border-box;
    width: calc(40% - 5.8rem);
}

.number-field:focus {
    background-color: #558085;
}

.checkbox-list {
    font-size: 1.8rem;
    list-style: none;
    margin-top: 0;
}

.checkbox-list label {
    box-sizing: border-box;
    display: block;
    padding: 2rem;
    float: left;
    width: calc(100% - 6.4rem);
    height: 6.4rem;
}

/*.checkbox-list input[type=checkbox]:not(old) {
    background-color: #1d2d2f;
    border: 1rem solid #558085;
}*/

.checkbox-list .checkbox-wrapper {
    background-color: #DC3430;
    width: 6.4rem;
    display: block;
    height: 6.4rem;
    float: right;
    padding: 0;
}

.checkbox-wrapper {
    position: relative;
}

.checkbox-wrapper input {
    display: none;
}

.checkbox-wrapper p {
    margin: 0;
    line-height: 6.4rem;
    text-align: center;
}

.checkbox-replacement {
    background-color: transparent;
    color: transparent;
    position: absolute;
    height: 6.4rem;
    width: 6.4rem;
    top: 0;
    line-height: 6.4rem;
    text-align: center;
    transition: 0.2s, ease-in-out;
}

input:checked + .checkbox-replacement {
  background-color: #24989E;
  color: #fff;
}

.modal {
    z-index: 3;
    font-size: 1.2rem;
    box-sizing: border-box;
    position: fixed;
    top: 20vh;
    margin-left: 5%;
    width: 90%;
}

#modalRemove {
    z-index: 5;
}

.modal input, .modal label {
    font-size: 1.8rem;
    width: 100%;
}

.modal input {
    color: white;
    box-sizing: border-box;
    padding: 1rem;
    border: none;
    outline: none;
    background-color: #324c4f;
    transition: background-color, 0.5s, ease-in-out;
}

.modal input:focus {
    background-color: #558085;
}

.modal-cover {
    z-index: 2;
    position: fixed;
    background-color: rgba(0,0,0,0.75);
    width: 100%;
    height: 100%;
    top: 8rem;
    display: none;
}

.modal h2 {
    text-align: center;
}

.btn-edit {
    width: 5.8rem;
}

.btn-edit-menuitem {
    width: 6.4rem;
}

.menuproducts-view {
    margin-top: 14rem;
}

.menuproducts-view .subtitle {
    z-index: 2; 
}

.menuproducts-view .checkbox-list {
    padding-left: 1rem;
    padding-right: 1rem;
}