/**
    Global selectors
*/

html {
    font-size: 62.5%;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    background-color: #1d2d2f;
    color: white;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

body {
    margin: 0;
    height: 100%;
}

header {
    background-color: #1a2527;
    padding: 1rem;
    position: fixed;
    height: 8rem;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    z-index: 1;
}

header h2 {
    float: left;
    text-align: center;
    position: fixed;
    width: calc(100% - 2rem);
    line-height: 6rem;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;
    z-index: -1;
}

/**
    Classes
*/
.margin-1-bottom {
    margin-bottom: 1rem;
}

.padded {
    padding: 2rem;
}

.margin-1 {
    margin: 1rem;
}

.margin-1-left {
    margin-left: 1rem;
}

.hidden {
    display: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.cover {
    z-index: 2;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 8rem;
    display: none;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.bottom {
    position: fixed;
    bottom: 0;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.app-space {
    margin-top: 14rem;
}

.subtitle {
    position: fixed;
    margin-top: -6rem;
    background-color: #233335;
    width: 100%;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
}

.section-title {
    font-size: 1.8rem;
    padding: 2rem 1rem 2rem 1rem;
    font-weight: 400;
    background-color: #233335;
}

.item-category {
    background-color: red;
    padding: 2rem;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 1rem;
    /*transition: all, 1s, ease-in-out;*/
}

.item-category summary {
    outline: none;
}

.table-number-tag {
    border-radius: 3px;
    display: block;
    width: 4rem;
    font-weight: 700;
    padding: 1rem;
    text-align: center;
    font-size: 2.4rem;
}

.table-specific-item {
    border-radius: 0.4rem;
}

.order-specific-item-text {
    font-size: 2.4rem;
    display: block;
    width: 80%;
}

/**
    Buttons
*/
.btn {
    padding: 2rem;
    border-radius: 2px;
    border: 0;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    height: 6.4rem;

    outline: none;
    transition: background-color, 0.1s, ease-in-out;
}

.btn-sharp {
    border-radius: 0;
}

.btn-menu-list {
    width: 100%;
}

.btn-menu-list + .btn-menu-list {
    margin-top: 1rem;
}

.btn-item {
    width: 100%;
    text-align: left;
}

.btn-table {
    margin: 0.5rem;
    width: calc((100% - 24px - 4rem) / 5);
    height: calc(80vw / 5);
    font-size: 8vw;
    font-weight: 700;

    background-color: #24989E;
}

.btn-table:active {
    background-color: #34dfd6;
}

@media only screen and (max-width: 700px) {
    .btn-table {
        width: calc((100% - 6px - 3rem) / 3);
        height: calc(80vw / 3);
        font-size: 8vw;
        font-weight: 700;
    }
}

.btn-remove-order {
    width: 5.5rem;
    border-radius: 0;
}

.btn-place-order {
    border-radius: 0;
    width: 90%;
    max-width: 40rem;
}

#noOrderItems {
    text-align: center;
    font-size: 3rem;
}

.btn-item-deliver {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 0.4rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Force back button up front */
#btnBack {
    z-index: 999;
}

/**
    Lists
*/
.side-panel-list {
    font-size: 1.8rem;
    list-style: none;
    padding: 1rem;
    position: relative;
    margin-top: 0;
    margin-bottom: 6rem;
}

.side-panel-list label {
    display: block;
    padding: 2rem 2rem 2rem 2rem;
    float: left;
    width: calc(100% - 9.5rem);
    height: 2.4rem;
}

.product-summary-list {
    font-size: 1.8rem;
    list-style: none;
    padding: 1rem;
    margin-top: 0;
}

.product-summary-list label {
    display: block;
    padding: 2rem 2rem 2rem 2rem;
    float: left;
    width: calc(100% - 9.6rem);
    height: 2.4rem;
}

.menu-list {
    margin: 1rem;
}

.item-list {
    list-style: none;
    font-size: 1.4rem;
    padding: 0;
}

/**
    Side-panel
*/
.side-panel {
    z-index: 2;
    position: fixed;
    background-color: #31a53e;
    width: 90%;
    max-width: 40rem;
    height: calc(100% - 8rem);
    top: 8rem;
    overflow-y: scroll;
}

.side-panel-right {
    transition: right, 0.2s, ease-in-out;
    right: -90%;
}

.side-panel-left {
    transition: left, 0.2s, ease-in-out;
    left: -90%;
}

.side-panel-shown-left {
    left: 0;
}

.side-panel-shown-right {
    right: 0;
}

/**
    Modal
*/

.modal {
    z-index: 3;
    font-size: 1.2rem;
    box-sizing: border-box;
    position: fixed;
    top: 20vh;
    margin-left: 5%;
    width: 90%;
}

.modal input, .modal label {
    font-size: 1.8rem;
    width: 100%;
}

.modal input {
    color: white;
    box-sizing: border-box;
    padding: 1rem;
    border: none;
    outline: none;
    background-color: #324c4f;
    transition: background-color, 0.5s, ease-in-out;
}

.modal input:focus {
    background-color: #558085;
}

.modal-cover {
    z-index: 2;
    position: fixed;
    background-color: rgba(0,0,0,0.75);
    width: 100%;
    height: 100%;
    top: 8rem;
    display: none;
}

.modal h2 {
    text-align: center;
}